.wrap
  position: relative
  max-width: 100%
  top: 0
  left: 0
  height: 90vh
  width: 100vw
  background-image: url("../../../assets/img/rick bcg.png")
  background-size: cover
  background-attachment: fixed
  background-position: top center
  .bg
    position: absolute
    max-width: 100%
    height: 90vh
    width: 100vw
    background-color: rgba(0, 63, 114, .3)
    z-index: 1
    .searching
      position: absolute
      top: 70%
      left: 50%
      transform: translateX(-50%)
      text-decoration: none
      color: white
      font-size: 40px
      border: 2px solid white
      padding: 10px 20px
      transition: .3s
      cursor: pointer
      &:hover
        padding: 15px 25px
        font-size: 50px
        color: orange
        border-color: orange
