@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap')

.heroes
  position: relative
  min-height: 150vh
  background-color: #24282F
  font-family: 'Poppins', sans-serif
  display: flex
  flex-direction: column
  justify-content: flex-start
  .searchForm
    height: 80px
    margin: 0 30px
    display: flex
    align-items: center
    justify-content: space-between
    select
      height: 40%
      padding: 5px 20px
      text-align: center
      font-size: 16px
      color: white
      background: 0 0
      border: 1px solid grey
      margin-right: 10px
      -webkit-appearance: none
      -moz-appearance: none
      border-color: yellow
      border-radius: 10px
      option
        background-color: #24282F
        color: white
        border-radius: 50%
        font-size: 14px
        &:active
          background-color: grey
    button
      border: solid 1px red
      background: 0 0
      color: orange
      padding: 5px 20px
      font-size: 15px
      line-height: 15px
      transition: .3s
      margin-left: 10px
      cursor: pointer
      &:hover
        font-size: 17px
        padding: 7px 22px
        color: yellow
        border-color: yellow
    .inputDiv
      display: flex
      justify-content: center
      align-items: center
      input
        padding: 5px 0
        font-size: 15px
        border: 1px solid grey
        background: transparent
        color: white
        text-align: center
        margin: 5px
        &:focus
          border-color: orange
        .heroFilter
          display: flex
    .libButton
      flex-basis: 11%
      border-color: lightgreen
      color: lightgreen
      border-radius: 5px
      position: relative
      cursor: pointer
      &:hover i
        font-size: 18px
        color: yellow
        right: -5px
      i
        position: absolute
        font-size: 15px
        top: 50%
        right: 0
        color: lightgreen
        transition: .3s

  .library
    position: relative
    left: 50%
    transform: translateX(-50%)
    border-radius: 10px
    width: 95%
    height: 90%
    background-color: #3C3E44
    display: flex
    flex-wrap: wrap
    justify-content: space-around
    align-items: flex-start
    margin-bottom: 50px
    .hero
      flex-basis: 23%
      height: 13%
      max-height: 250px
      background-color: white
      border-radius: 10px
      display: flex
      cursor: pointer
      margin: 20px 0
      .img, .info
        width: 40%
      .img
        flex-grow: 3
        img
          width: 100%
          height: 100%
          border-top-left-radius: 10px
          border-bottom-left-radius: 10px
      .info
        flex-grow: 2
        background-color: #4B3E53
        color: white
        border-top-right-radius: 10px
        border-bottom-right-radius: 10px
        display: flex
        flex-direction: column
        h1
          font-size: 18px
        .origin, .location
          h1
            opacity: .5
            font-size: 16px
        p
          text-transform: capitalize
          font-size: 13px
          margin-left: 15px
          margin-top: 5px
          padding-bottom: 5px
        .title, .location, .origin
          margin-left: 10px
          // flex-basis: 25%
          h1
            margin-top: 5px
          .status, .place
            margin: 2px 0 5px 0
          .status
            margin-top: 4px
            position: relative
            i
              position: absolute
              left: -7px
              top: 3px
              font-size: 8px
        .title
          position: relative
          .star
            position: absolute
            height: 20px
            width: 100%
            top: 0
            i
              position: absolute
              top: 0
              right: -10px
              font-size: 20px
              margin: 0
              &:hover
                color: orange
  i
    cursor: pointer
    margin: 0 10px
    position: absolute
    color: white
    font-size: 60px
    top: 50%
    transform: translateY(-50%)

  .fa-chevron-right
    right: 0
