<div class="heroes">
      <div class="searchForm">
        <select required>
          <option value="" disabled selected hidden>Search by</option>
          <option (click)="getFilter($event)">Character</option>
          <option (click)="getFilter($event)">Location</option>
          <option (click)="getFilter($event)">Episode</option>
        </select>
        <div class="inputDiv" *ngIf="this.filter">
            <input (change)="createLink($event)" name = "name" placeholder='name'>
          <div *ngIf= "this.filter === 'character' " class="heroFilter">
            <input (change)="createLink($event)" name = "status" placeholder='status'>
            <input (change)="createLink($event)" name = "species" placeholder='species'>
            <input (change)="createLink($event)" name = "type" placeholder='type'>
            <input (change)="createLink($event)" name = "gender" placeholder='gender'>
        </div>
        <button (click)="findHero()">search</button>
        </div>
        <button [routerLink]="['/library']" routerLinkActive="active" class="libButton"> Go to library<i class="fas fa-arrow-right"></i> </button>

      </div>
  <section class="library" >
    <div class="hero"
    *ngFor="let character of characters; let result of filterResult">
      <div class="img">
        <img src="{{character.image}}">
      </div>
      <div class="info">
        <div class="title">
          <!-- [style.color] = "ifExist(character.id) ? 'yellow' : 'none'" -->
          <div class="star" *ngIf="authService.loggedIn()">
            <!-- <i (click) = "addToLibrary(character)"  class="fas fa-star"></i> -->
            <i (click) = "addToLibrary(character)"  class="ifExist(character.id)? fas fa-minus-circle: fas fa-plus-circle"></i>
          </div>
          <h1>{{character.name}}</h1>
          <div class="status">
            <i [style.color]="character.status==='Alive'?'lightgreen' :'grey'" class="fas fa-circle"></i><p> {{character.status}} - {{character.species}} - {{character.gender}}</p>
          </div>
        </div>
        <div class="origin">
          <h1>Origin</h1>
          <div class="place">
            <p>{{character.origin.name}}</p>
          </div>
        </div>
        <div class="location">
          <h1>Location</h1>
          <div class="place">
            <p>{{character.location.name}}</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <i class="fas fa-chevron-left" id="prev" (click)="switchPage($event)"></i>
  <i class="fas fa-chevron-right" id="next" (click)="switchPage($event)"></i>
</div>

